<a href="https://colab.research.google.com/github/Abhinayarao/Machine-Learning/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas
* Pandas is a Python library used for working with data sets.

* It has functions for analyzing, cleaning, exploring, and manipulating data.

* The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis"

* Pandas gives you answers about the data. Like correlation between two or more columns, average value, Max value, Min value.
* Pandas are also able to delete rows that are not relevant, or contains wrong values, like empty or NULL values. This is called cleaning the data.

Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

In [1]:
import pandas as pd
a = {
    'Name':['Thomas', 'John', 'Peter'],
    'Age':[40,26,32],
    'Location':['Florida','Texas', 'Chicago']
}
#loading data into a DataFrame object
df = pd.DataFrame(a)
df

     Name  Age Location
0  Thomas   40  Florida
1    John   26    Texas
2   Peter   32  Chicago

A Pandas Series is like a column in a table. It is a one-dimensional array holding data of any type.

In [15]:
a = ['Thomas', 'John', 'Peter']
b = pd.Series(a)
b

0    Thomas
1      John
2     Peter
dtype: object

In [24]:
a = ['Thomas', 'John', 'Peter']
b = pd.Series(a, index = ['x','y','z'])
b

x    Thomas
y      John
z     Peter
dtype: object

In [25]:
a = ['Thomas', 'John', 'Peter']
b = pd.Series(a, index = ['x','y','z'])
print(b['z'])

Peter

Simple Pandas Series from a dictionary

The keys of the dictionary becomes the labels.

In [27]:
a = {'name':'John', 'age':27, 'Location':'Texas'}
b = pd.Series(a)
b

name         John
age            27
Location    Texas
dtype: object

In [30]:
a = {'name':'John', 'age':27, 'Location':'Texas'}
b = pd.Series(a, index=['name','Location'])
b

name         John
Location    Texas
dtype: object

In [10]:
a = {
    'Name':['Thomas', 'John', 'Peter','Samuel' ,'Michael '],
    'Age':[40,26,32,40,20]
}
df = pd.DataFrame(a)
print(df)

       Name  Age
0    Thomas   40
1      John   26
2     Peter   32
3    Samuel   40
4  Michael    20

Pandas use the **loc** attribute to return one or more specified row(s)

In [16]:
#When using [], the result is a Pandas DataFrame.
df.loc[1]

Name    John
Age       26
Name: 1, dtype: object

In [22]:
df.loc[[2,4,0]]

       Name  Age
2     Peter   32
4  Michael    20
0    Thomas   40

In [25]:
a = {
    'Name':['Thomas', 'John', 'Peter','Samuel' ,'Michael '],
    'Age':[40,26,32,40,20]
}
b = pd.DataFrame(a, index = ['v','w','x','y','z'])
b

       Name  Age
v    Thomas   40
w      John   26
x     Peter   32
y    Samuel   40
z  Michael    20

In [27]:
print(b.loc['x'])

Name    Peter
Age        32
Name: x, dtype: object

In [28]:
a

{'Name': ['Thomas', 'John', 'Peter', 'Samuel', 'Michael '],
 'Age': [40, 26, 32, 40, 20]}

* The **head()** method returns the headers and a specified number of rows, starting from the top.

* If the number of rows is not specified, the **head()** method will return the top 5 rows.

* The **tail()** method returns the headers and a specified number of rows, starting from the bottom.
* The DataFrames object has a method called **info()**, that gives you more information about the data set.

#Cleaning Empty Cells
T
he **dropna()** method returns a new DataFrame, and will not change the original.

If you want to change the original DataFrame, use the **inplace = True argument**

In [ ]:
df = pd.read_csv('data.csv')  #importing dataset

df.dropna(inplace = True)  #dropping rows which contains null values from original dataframe

print(df.to_string())

In [ ]:
new_df = df.dropna()  #dropping rows which contains null values from new dataframe

print(new_df.to_string())

Another way of dealing with empty cells is to insert a new value instead.

This way you do not have to delete entire rows just because of some empty cells.

The **fillna()** method allows us to replace empty cells with a value:

In [ ]:
#Replaces NULL values with the number 35
df.fillna(35, inplace=True)

In [ ]:
#Replaces NULL values in the "Age" columns with the number 35
df.fillna({'Age'}:35, inplace=True)

#Replace Using Mean, Median, or Mode
A common way to replace empty cells, is to calculate the mean, median or mode value of the column.
* Mean = the average value (the sum of all values divided by number of values).
* Median = the value in the middle, after you have sorted all values ascending.
* Mode = the value that appears most frequently

In [ ]:
#Calculating the MEAN, and replacing any empty values with it
x = df['Age'].mean()
df.fillna({'Age':x}, inplace=True)

In [ ]:
#Calculating the MEDIAN, and replacing any empty values with it
x = df['Age'].median()
df.fillna({'Age':x}, inplace=True)

In [ ]:
#Calculating the MODE, and replacing any empty values with it
x = df['Age'].mode()[0]
df.fillna({'Age':x}, inplace=True)